#root {
  width: 100%;
}

.wrapper {
  padding: 3rem 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: #0b2c5d;
  color: #ffffff;
}
.headshot {
  max-width: 100%;
}

.main-logo {
  max-width: 100%;
  height: 150px;
}

.top-logo {
  width: 5.5rem;
  height: 5.5rem;
  line-height: 5.5rem;
  border: 1px solid #ffffff;
  border-radius: 100%;
  background: white;
}

.top-logo img {
  height: 100%;
  width: 100%;
  padding: 10px;
}

.content {
  border-style: solid;
  border-color: #ffffff;
  border-width: 1px 0;
  margin: 2rem 0;
  width: 80%;
  @media screen and (max-width: 599px) {
    width: 95%;
  }
}

.line {
  width: 1px;
  background: #ffffff;
  height: 50px;
}

.content::before {
  content: "";
  display: block;
  position: absolute;
  top: calc(-1px - 3.5rem);
  left: calc(50% - 1px);
  width: 1px;
  height: calc(1px + 3.5rem);
  background: rgb(255, 255, 255);
}

.content p {
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 0.2rem;
  width: 75%;
  margin: 10px auto;
  @media screen and (max-width: 599px) {
    width: 100%;
  }
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: radial-gradient(
    rgba(0, 0, 0, 0.25) 25%,
    rgba(0, 0, 0, 0) 55%
  );
  text-align: center;
  width: 100%;
}

footer p {
  font-size: 10px;
}

.buttongroup-button {
  padding: 20px;
}

.fc-toolbar-title {
  color: white !important;
}

.fc-daygrid-day-number {
  color: white !important;
}

.sponsor-img {
  max-width: 100%;
}
